<launch>
  <arg name="use_gui" default="false" />

  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="log">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
  </node>

  <group if="$(arg use_gui)">
    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="log" />
  </group>

  <node pkg="yolo_detection" type="yolo_detection" name="yolo_detection" output="screen">
    <param name="show_image" value="$(arg use_gui)" />
    <remap from="image_raw" to="/usb_cam/image_raw" />
    <remap from="camera_info" to="/usb_cam/camera_info" />
  </node>
</launch>
